<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--引入spring-service.xml配置文件-->
    <import resource="classpath:spring-service.xml"/>

    <!--指定应用名称-->
    <dubbo:application name="dubbo_service"/>

    <!--指定暴露服务的端口，如果不指定默认为20880，端口号不能和web工程中的配置文件消费者的端口相同即可-->
    <dubbo:protocol name="dubbo" port="20887"/>

    <!--指定服务注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!--批量扫描，发布服务，开启服务提供者的注解支持-->
    <dubbo:annotation package="com.itheima.health.service"/>

</beans>